USE [master]
GO
/****** Object:  Database [REGISTROINCURSIONES_DB]    Script Date: 23/11/2021 15:29:41 ******/
CREATE DATABASE [REGISTROINCURSIONES_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REGISTROINCURSIONES_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\REGISTROINCURSIONES_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REGISTROINCURSIONES_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\REGISTROINCURSIONES_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REGISTROINCURSIONES_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REGISTROINCURSIONES_DB]
GO
/****** Object:  Table [dbo].[tabla_Escuadrones]    Script Date: 23/11/2021 15:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Escuadrones](
	[N_INCURSION] [int] NOT NULL,
	[ASALTO] [nchar](100) NULL,
	[MEDICO] [nchar](100) NULL,
	[TECNICO] [nchar](100) NULL,
	[RECONOCIMIENTO] [nchar](100) NULL,
 CONSTRAINT [PK_tabla_Escuadrones] PRIMARY KEY CLUSTERED 
(
	[N_INCURSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabla_Incursiones]    Script Date: 23/11/2021 15:29:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabla_Incursiones](
	[N_INCURSION] [int] IDENTITY(1,1) NOT NULL,
	[DESTINO] [nchar](100) NULL,
	[HORASALIDA] [datetime] NULL,
	[HORALLEGADA] [datetime] NULL,
	[N_BAJAS] [nchar](100) NULL,
	[N_CURACIONES] [nchar](100) NULL,
	[N_ARTEFACTOS] [nchar](100) NULL,
	[N_ANOMALIAS] [nchar](100) NULL,
	[ESCUADRON] [nchar](10) NULL,
 CONSTRAINT [PK_tabla_Incursiones] PRIMARY KEY CLUSTERED 
(
	[N_INCURSION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
